$header: 'caviar_dreamsbold', sans-serif;
$body: 'josefin_sansregular', sans-serif;

$bodybold: 'josefin_sanssemibold', sans-serif;

$red: rgb(87,28,51); // #571c33
$blue: rgb(28,88,155); // #c5897
$cream: rgb(255,237,205); // #ffedcd
$grey: rgb(99,99,99); // #636363
$dkgrey: rgb(61,61,61);
$peacockblue: rgb(201,233,238); // #c9e9ee
$darkpeacock: rgb(6,131,150); // #068396
$medpurple: rgb(128,0,128);// #800080
$lightpurple: rgb(216,150,255); // #d896ff
$xtralightpurple: rgb(239,187,255); // #efbbff

$head: $medpurple;
$bgmain: $peacockblue;
$bgcontainer: $peacockblue;
$subhead: $dkgrey;
$video: $red;
$footer: $medpurple;
$title: $red;
$hr: $red;
$btn-normal: $medpurple;
$btn-hover: $lightpurple;
